<h1>Signing up for "<%= @user.plan.name %>"</h1>
<p>Includes <strong><%= @user.plan.description %> Happy purchase</strong> for only <strong><%= number_to_currency @user.plan.amount %></strong> per month!</p>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :plan_id %>

  <%= f.hidden_field :stripe_card_token %>

  <div class="field">
    <%= f.label :Name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  
    <div class="field">
    <%= f.label :password %>
  <%= f.password_field :password %>
  </div>

  <div class="field">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  </div>
  
  
  <% if @user.stripe_card_token.present? %>
    Credit card has been provided.
  <% else %>
  
     <div class="field">
      <%= label_tag :card_name, "Cardholder name" %>
      <%= text_field_tag :card_name %>
    </div>
    
    <div class="field">
      <%= label_tag :card_number, "Credit Card Number" %>
      <%= text_field_tag :card_number, nil, name: nil %>
    </div>
    <div class="field">
      <%= label_tag :card_code, "Security Code on Card (CVV)" %>
      <%= text_field_tag :card_code, nil, name: nil %>
    </div>
    <div class="field">
      <%= label_tag :card_month, "Card Expiration" %>
      <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
    </div>
  <% end %>
  <div id="stripe_error">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
    <div class="field">
    <%= f.label :Address1 %>
    <%= f.text_field :address_1 %>
  </div>
    <div class="field">
    <%= f.label :Address2 %>
    <%= f.text_field :address_2 %>
  </div>
    <div class="field">
    <%= f.label :City %>
    <%= f.text_field :city %>
  </div>
    <div class="field">
    <%= f.label :State %>
    <%= f.text_field :state %>
  </div>
    <div class="field">
    <%= f.label :Zipcode %>
    <%= f.text_field :zipcode %>
  </div>
    <div class="field">
    <%= f.label :Country %>
    <%= f.text_field :country %>
  </div>
  
  <div class="actions">
    <%= f.submit "Subscribe" %>
  </div>
<% end %>
 <a href="/">Cancel</a>

